.slider-container {
    position: relative;
    overflow: hidden;
    -webkit-transition:  0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition:  0.2s linear;
    transition:  0.2s linear;
}

.slider-context {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;

}

.slider-active .slider-context {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.guide-way {
    height: calc(100% - 4px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 90;
    margin: auto 0;
    border: 2px groove rgba(225, 225, 225, 0);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 1px #eeeeee;
    -moz-box-shadow: 0 0 2px 1px #eeeeee;
    box-shadow: 0 0 2px 1px #eeeeee;
    background-color: rgba(225, 225, 225, 0);
}
.guide-way-horizontal{
    width:calc(100% - 4px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    margin:0 auto;
    border: 2px groove rgba(225, 225, 225, 0);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 1px #eeeeee;
    -moz-box-shadow: 0 0 2px 1px #eeeeee;
    box-shadow: 0 0 2px 1px #eeeeee;
    background-color: rgba(225, 225, 225, 0);
}
.V-slider {
    position: absolute;
    top: 0;
    width: 1px;
    border: 2px outset rgba(197, 197, 197, 0.2);
    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.4);
    -webkit-transition: height 0.3s linear;
    -moz-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear;

}
.H-slider{
    position: absolute;
    left: 0;
    height: 1px;
    border: 2px outset rgba(197, 197, 197, 0.2);
    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.4);
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
}
.slider-active .V-slider,.slider-active .H-slider {
    border: 2px outset rgba(87, 87, 87, 0.8);
    background-color: rgba(97, 97, 97, 0.9);
}


.slider-active .guide-way,.slider-active .guide-way-horizontal {
    border: 2px groove rgba(225, 225, 225, 0.4);
    background-color: rgba(225, 225, 225, 0.3);
}

.slider-active-move .guide-active {
    border: 2px groove rgba(225, 225, 225, 0.7);
    background-color: rgba(225, 225, 225, 1);
}
.slider-active-move .V-slider,.slider-active-move .H-slider{
    border: 2px outset rgba(87, 87, 87, 0.8);
    background-color: rgba(97, 97, 97, 0.9);
}

